
/* reset css */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* custom properties */

html {
    font-size: 62.5%;
}
:root {
    --black-brown: #432818;
    --really-black-brown: #362013;
    --latte-brown: #99582A;
    --cream-brown: #FFE6A7;
    --accent-color: #339989;
    --scale: 51;
    --h1-size: 49rem
}
body {
    width: 100vw;
    height: 100%;
    background-color: var(--black-brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cream-brown);
    font-family: 'Roboto Slab', serif;
    /* overflow-x: hidden; */
}
.website-background{
    position: absolute;
    background-image: url(Images/lukasz-rawa-fmc-tFMMiBs-unsplash.jpg);
    background-size: cover;
    width: 100vw;
    height: 179rem;
    inset: 0;
    z-index: -3;
    filter: opacity(15%) brightness(200%);    
}


button:focus, a:focus {
    outline: 2px solid var(--cream-brown);
}




/*TOP NAVBAR ET SES ELEMENTS*/


.top-navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8rem;
    padding: 0 10rem;
    box-shadow: 0 2px 5px #362013;
    background-color: rgba(67, 40, 24, 0.4);
    backdrop-filter: blur(10px);
}

/* Tout en rapport avec la navbar sur le coté */

/* 1. icône de la navbar */

.item1{
    display: flex;
    align-items: center;
}

.coffee-pot-container {
    display: flex;
    align-items: center;
    width: 7rem;
    height: 7rem;
    position: relative;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    transition: backdrop-filter .1s;
}

.coffee-pot-container:hover, .coffee-pot-container:focus {
    backdrop-filter: brightness(80%);
    outline: none;
}

.coffee-pot-icon {
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    transition: all .2s;
    transition-delay: 0s;
}
.coffee-pot-icon.active {
    transform: rotate(90deg);
    transition: all .2s;
    transition-delay: .2s;
}

.coffee-pot-container::after {
    content: '';
    display: block;
    width: 0;
    height: .5rem;
    border-top-right-radius: 80%;
    background-color: var(--latte-brown);
    position: absolute;
    top: 5.7rem;
    left: 6.1rem;
    z-index: -1;
    transform-origin: top;
    animation: var(--animation, none) .5s forwards;

}

/* animation du café qui coule */

@keyframes liquid {
    75%{
        width: 0;
    }
    76%{
        width: .1rem;
    }
    
    100%{
        transform: scaleY(var(--scale));
        width: .5rem;

    }
}
@keyframes liquid-reverse {
    0%{
        transform: scaleY(var(--scale));
        width: .5rem;
    }
    55%{
        width: 0;
    }
    100% {
        width: 0;
    }
}




/* navbar gobelet à café */

.coffee-cup {
    position: fixed;
    top: 15rem;
    transform: translate(-105%, 0%);
    left: 0;
    width: 40rem;
    height: 50rem;
    transition: all .2s;
    transition-delay: .2s;
}
.coffee-cup-image {
    width: 100%;
    height: 100%;
}
.side-navbar-links {

    position: absolute;
    top: 53%;
    right: 12%;
    width: 15rem;
    font-size: 2.2rem;
    list-style-type: none;
    text-align: end;

}
.side-navbar-links li{
    margin-bottom: 1.8rem;
}
.side-navbar-links li a{
    position: relative;
    text-decoration: none;
    font-weight: 600;
    color: var(--black-brown);
    font-family: 'Roboto', sans-serif;
    transition: all 2s ease-in;
}
.link::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8rem;
    background-color: var(--latte-brown);
    height: .2rem;
    transform: scaleX(0);
    transform-origin: right;
    transition: all .2s;
}


.side-navbar-links li:hover .link::after {
    transform: scaleX(1);
}

.coffee-cup.out {
    transform: translate(-30%, 0%);
    transition-delay: 0s;

}

/* logo ROBUSTO */

.item2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* bouton compte utilisateur et panier */

.item3{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
}
.user-buttons {
    width: 12rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}



.account-link, .shopping-cart-link {
    position: relative;
    display: block;
    width: 5rem;
    height: 5rem;
}
.user-icon, .shopping-cart-icon {
    width: 5rem;
    height: 5rem;
}
#cart-number {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--latte-brown);
    transform: translate(30%, -30%);
    border-radius: 1rem;
    width: max-content;
    padding: .5rem .8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: var(--cream-brown);
    height: 2rem;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    grid-template-rows: 65rem 30rem 40rem;
    padding: 10rem 5rem;
    position: relative;
    width: 115rem;
    z-index: -2;
    background-color: rgba(54, 32, 19, 0.3);
    backdrop-filter: blur(17px);
    box-shadow: 0 -10px 3px 4px rgba(54, 32, 19, 0.7);


}


/* CONTENU DE LA PAGE */

/* PHOTO DU PRODUIT */


.photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.battle-creek {
    width: 40rem;
    position: relative;
    clip-path: polygon(80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%, 0 0);
    box-shadow: 0 0 5px 8px rgba(153, 88, 42, 0.1);
}
#fond-photo {
    background-color: var(--accent-color);
    height: 60rem;
}

/* DESCRIPTION DU PRODUIT */

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4rem 0;

}
h1{
    font-weight: 800;
    width: 100%;
    font-size: 6.3rem;
    position: relative;
}

/* trait sous le nom du produit */

h1::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(var(--h1-size) - 4rem);
    height: .4rem;
    background-color: var(--accent-color);
    clip-path: polygon(0 0, 99% 0, 100% 100%, 1% 100%);
}
h2 {
    font-size: 3rem;
    text-align: right;
}
.description, .buying-part {
    font-family: 'Roboto', sans-serif;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
}
.price {
    font-size: 4rem;
    font-weight: 800;
}
h3 {
    font-size: 2.4rem;
}
.product-description {
    font-size: 1.6rem;
    text-align: justify;
}
.buying-part {
    height: 20rem;
    width: 29rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.packaging-size {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
}
#size-button {
    height: 6rem;
    width: 9rem;
    border: 4px solid var(--cream-brown);
    background: transparent;
    font-size: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}
.buy-button {
    display: block;
    cursor:cell;
    background-color: var(--accent-color);
    border-radius: 4rem;
    height: 100%;
    border: none;
    box-shadow: 0 0 3px 3px rgba(255, 255, 255, 0.1);
}
/* histoire du produit */

.history {
    grid-area: 2 / 1 / 3 / 3 ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.history p {
    font-size: 1.6rem;
    text-align: center;
}

/* autres suggestions de produits */

.other-products {
    grid-area: 3 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}
.card1 {
    width: 24rem;
    height: 100%;
    background-color: wheat;
}.card2 {
    width: 24rem;
    height: 100%;
    background-color: wheat;
}.card3 {
    width: 24rem;
    height: 100%;
    background-color: wheat;
}.card4 {
    width: 24rem;
    height: 100%;
    background-color: wheat;
}

/* bas de page */

footer {
    width: 100vw;
    height: 30rem;
    background-color: var(--really-black-brown);
}


@media screen and (max-width: 1700px) {
    html {
        font-size: 62.5%;
    }
}
@media screen and (max-width: 1600px) {
    html {
        font-size: 59%;
    }

}
@media screen and (max-width: 1500px) {
    html {
        font-size: 56%;
    }
    :root {
        --scale: 55;
    }
}
@media screen and (max-width: 1380px) {
    html {
        font-size: 50%;
    }
    .top-navbar {
        padding: 0 12rem;
    }
    :root {
        --scale: 55;
    }
}
@media screen and (max-width: 1300px) {
    html {
        font-size: 45%;
    }

    :root {
        --scale: 55;
    }
}
@media screen and (max-width: 1150px) {
    html {
        font-size: 42%;
    }

    :root {
        --scale: 55;
    }
}