/* reset css */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* custom properties */

html {
    font-size: 62.5%;
}
:root {
    --black-brown: #432818;
    --really-black-brown: #362013;
    --latte-brown: #99582A;
    --cream-brown: #FFE6A7;
    --accent-color: #339989;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: var(--black-brown);
    display: grid;
    grid-template-columns: 60vw 1fr;
    grid-row: max-content;
    color: var(--cream-brown);
    font-family: 'Roboto Slab', serif;
}
.product {
    background-color: var(--really-black-brown);
    width: 100%;
    height: 20rem;
    border-radius: 2rem;
}
.cart-products {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 8rem;
}
.cart-validation {
    background-color: var(--really-black-brown);

}