
/* reset css */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* custom properties */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
:root {
    --black-brown: #432818;
    --really-black-brown: #362013;
    --latte-brown: #99582A;
    --cream-brown: #FFE6A7;
    --accent-color: #339989;
    --spicy-purple : #5f2c82;
    --scale: 51;
    --h1-size: 49rem;
}
body {
    width: 100vw;
    height: min-content;
    background-color: var(--black-brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--cream-brown);
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
}
.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    z-index: 100;
    height: 100%;
    inset: 0;
    background-color: var(--black-brown);
    transition: .25s;
}
.dot {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--cream-brown);
    animation: loading .2s infinite alternate;
}
.dot:nth-child(2) {
    animation-delay: .1s;
}
.dot:nth-child(3) {
    animation-delay: .2s;
}
@keyframes loading {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-4rem);
    }
}
.disappear {
    filter: opacity(0);
}
.website-background{
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 325rem;
    inset: 0;
    z-index: -3;
    filter: opacity(50%);    
}
button:focus-visible, a:focus-visible {
    outline: 2px dashed #fff;
}
button, a {
    cursor: pointer;
}

/*TOP NAVBAR ET SES ELEMENTS*/

.top-navbar {
    display: grid;
    z-index: 2;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8rem;
    padding: 0 10rem;
    box-shadow: 0 2px 5px var(--really-black-brown);
    background-color: rgba(54, 32, 19, 0.674);
    backdrop-filter: blur(10px);
}

/* Tout en rapport avec la navbar sur le coté */

/* 1. icône de la navbar */

.item1{
    display: flex;
    align-items: center;
}
.hamburger {
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 5.5rem;
    height: 5.5rem;
    background-color: transparent;
    border: none;
}
#line {
    display: block;
    width: 5.5rem;
    height: 1rem;
    background-color: var(--cream-brown);
    border-radius: 5px;
}

.coffee-pot-container {
    display: flex;
    align-items: center;
    width: 7rem;
    height: 7rem;
    position: relative;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    transition: backdrop-filter .1s;
}

.coffee-pot-container:hover, 
.coffee-pot-container:focus-visible {
    backdrop-filter: brightness(85%);
    outline: none;
}

.coffee-pot-icon {
    width: 6rem;
    height: 6rem;
    transition: all .2s cubic-bezier(.66,.43,.65,.41);
    transition-delay: .2s;
}
.coffee-pot-icon.active {
    transform: rotate(90deg);
    transition: all .2s;
    transition-delay: .2s;
}
.coffee-pot-container::after {
    content: '';
    display: block;
    width: 0;
    height: .5rem;
    border-top-right-radius: 80%;
    background-color: var(--latte-brown);
    position: absolute;
    top: 5.7rem;
    left: 6.1rem;
    z-index: -1;
    transform-origin: top;
    animation: var(--animation, none) forwards;

}

/* animation du café qui coule */

@keyframes liquid {
    0%{
        width: 0rem;
    }    
    50%{
        width: 0rem;
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(var(--scale));
        width: .5rem;
    }
}
@keyframes liquid-reverse {
    0%{
        transform: scaleY(var(--scale)) translateY(0%);
        width: .5rem;
    }
    99.9%{
        transform: scaleY(var(--scale)) translateY(100%);
        width: .5rem;
    }
    100%{
        display: none;
    }
}




/* navbar gobelet à café */

.coffee-cup {
    position: fixed;
    top: 15rem;
    z-index: 2;
    transform: translate(-105%, 0%);
    left: 0;
    width: 40rem;
    height: max-content;
    transition: all .2s;
    transition-delay: 0s;

}
.coffee-smoke {
    height: 10rem;
    transform: translate(8%, 50%);
    filter: opacity(0);
    transition: all .5s;

}
.coffee-smoke.visible {
    filter: opacity(0.3);
    transition: all .3s;
    transform: translate(8%, 0%);
}
.coffee-cup-image {
    width: 100%;
    height: 38rem;
}
.side-navbar-links {
    position: absolute;
    top: 26.1rem;
    right: 5rem;
    width: 15rem;
    font-size: 2.2rem;
    list-style-type: none;
    text-align: end;

}
.side-navbar-links li{
    margin-bottom: 1.5rem;
}
.side-navbar-links li a{
    position: relative;
    text-decoration: none;
    font-weight: 600;
    color: var(--black-brown);
    font-family: 'Roboto', sans-serif;
}
.side-navbar-links li a::after {
    content: '';
    display: block;
    position: absolute;
    right: -.5rem;
    top: .2rem;
    width: .2rem;
    background-color: var(--latte-brown);
    height: 90%;
    transform: scaleY(0);
    transform-origin: top;
    transition: all .2s;
}


.side-navbar-links li:hover a::after {
    transform: scaleY(1);
}

.coffee-cup.out {
    transform: translate(-30%, 0%);
    transition-delay: 0s;

}

/* logo ROBUSTO */

.item2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* bouton compte utilisateur et panier */

.item3{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    grid-area: 1/3/2/4;
}
.user-buttons {
    width: 24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.7rem;
    width: max-content;
    padding: 1rem;
    list-style-type: none;
}
.user-buttons li {
    position: relative;
    display: block;
    height: max-content;
}
.user-buttons>li:first-child {
    height: 6.3rem;
    transform: translate(1rem, -.1rem);
}
.user-buttons li:first-child button,
.user-buttons li:first-child>div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    border-radius: 1rem;
    height: 100%;
    background: none;
    border: none;
    color: var(--cream-brown);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    transition: all .2s;
    cursor: pointer;
}
.user-buttons li:first-child button:hover,
.user-buttons li:first-child button:focus-visible,
.user-buttons li:first-child>div a:hover,
.user-buttons li:first-child>div a:focus-visible {
    backdrop-filter: brightness(90%);
}
.user-buttons li:first-child>div {
    display: none;
    border-radius: 1rem;
    position: absolute;
    left: -7rem;
    bottom: -20rem;
    width: 25rem;
    padding: 2rem;
    background-color: var(--spicy-purple);
    transition: all .2s;
    box-shadow: 0 0 2rem var(--really-black-brown);
    font-family: 'Roboto', sans-serif;
}
.user-buttons li:first-child>div>p {
    font-size: 2.3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
.user-buttons li:first-child ul li {
    display: flex;
    justify-content: center;
}
.user-buttons li:first-child>div a {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 18rem;
    padding-left: 1.2rem;
    text-decoration: none;
}
.user-icon, .shopping-cart-icon {
    width: 4.8rem;
    height: 4.8rem;
    transition: transform .1s;
}
.user-icon:hover,
.user-icon:focus-visible,
.shopping-cart-icon:hover,
.user-buttons>li>a:focus-visible {
    transform: rotate(-17deg);
}
.user-buttons li a {
    display: block;
    transition: all .2s;
    user-select: none;
}
#cart-number {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--latte-brown);
    transform: translate(30%, -30%);
    border-radius: 1rem;
    width: max-content;
    padding: .25rem .8rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--cream-brown);
    height: 2rem;
    pointer-events: none;
}
@keyframes fade-in-top {
    from {
        transform: translateY(-1.5rem);
        filter: opacity(0);
    }
    to{
        transform: translateY(0);
        filter: opacity(1);
    }
}
@keyframes fade-in-top-reverse {
    from {
        transform: translateY(0);
        filter: opacity(1);
    }
    to{
        transform: translateY(-1.5rem);
        filter: opacity(0);
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6rem 0;
    grid-template-rows: 65rem calc(max-content + 8rem) 1fr;
    padding: 11.5rem 0 8rem;
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: rgba(54, 32, 19, 0.55);
    /* box-shadow: inset 0 0 15rem var(--really-black   -brown); */
}
/* CONTENU DE LA PAGE */

/* PHOTO DU PRODUIT */

.product-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5rem;
}
.photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin-left: 7rem;
}
.product-photo {
    width: 40rem;
    height: 60rem;
    background-image: url("assets/batlle creek.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 3;
    background-position: 50%;
    clip-path: polygon(80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%, 0 0);
    box-shadow: 0 0 5px 8px rgba(153, 88, 42, 0.1);
    transition: transform 200ms, background-position 0ms, background-size 200ms;
    cursor: zoom-in;
}

.product-photo:hover{
    transform: scale(102%);
    background-size: 108%;
}
.photo-container::after {
    content: '';
    position: absolute;
    clip-path: none;
    display: block;
    background-color: var(--latte-brown);
    height: 60rem;
    width: 40rem;
}
.product-photo.zoomed {
    background-size: 200%;
    cursor: zoom-out;
}

/* DESCRIPTION DU PRODUIT */

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 7rem 2rem 0rem;
}
.title {
    width: max-content;
}
h1{
    font-weight: 700;
    width: 100%;
    font-size: 6rem;
    position: relative;
    letter-spacing: .17rem;
    
}

/* trait sous le nom du produit */

h1::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(var(--h1-size) - 4rem);
    height: .4rem;
    background-color: var(--accent-color);
    clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
}
.title h2 {
    font-size: 3.2rem;
    text-align: right;
    letter-spacing: .12rem;

}

.description, .buying-part {
    font-family: 'Roboto', sans-serif;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
    height: max-content;
    padding-bottom: .3rem;
}
.price {
    font-size: 3rem;
    font-weight: 800;
    color: var(--accent-color);
    filter: brightness(120%);
    width: max-content;
    transform: translateY(-70%);
}
.product-content h3 {
    font-size: 2.4rem;
    letter-spacing: .11rem;
}
.product-description {
    width: 100%;
    height: 15rem;
    cursor: pointer;
    user-select: none;
    perspective: 1000px;
}
.product-description-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform .4s;
}
.front, .back {
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-weight: 300;
    font-size: 1.8rem;
    text-align: justify;
    padding: 1.4rem;
    font-family: 'Roboto Slab';
    border-left: .8rem solid rgba(153, 88, 42, 0.7);
    background-color: rgba(67, 40, 24, 0.5);
    /* box-shadow: 0 0 1rem #43281874; */
    border-radius: 1rem;
    letter-spacing: .05rem;
}
.front {
    transition-delay: transform .175s;
}
.front *:not(svg) {
    transition-delay: .15s;
}


.back {
    transform: rotateX(180deg);
}
.returned {
    transform: rotateX(180deg);
}
.returned .front  * {
    filter: opacity(0);
    transition-delay: 0ms;
    transition: all .2s;
}

.bottom-part-container {
    display: flex;
    width: 100%;
    gap: 2rem;
    font-weight: 300;

}

.front svg,
.back svg {
    position: absolute;
    bottom: 1.7rem;
    right: 2.5rem;

    width: 2.4rem;
    height: 2.4rem;
    fill: var(--latte-brown);
    transition: all .3s;
}
.front svg {
    transition: all .2s;
}
.front:hover svg,
.returned:hover .back svg {
    animation: arrow-shaking .2s infinite alternate;
}

@keyframes arrow-shaking {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(1rem);
    }
}

/* ========================================== BUYING PART =========================================== */

.buying-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    width: calc(50% - 1rem);
}

/* ================ SIZE =============== */

.packaging-size {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 6rem;
}
#size-button {
    height: 100%;
    width: 7.4rem;
    border: .4rem solid var(--cream-brown);
    background: transparent;
    color: var(--cream-brown);
    font-size: 2.2rem;
    font-weight: 600;
    border-radius: 1rem;
    transition: all .1s;
}
#size-button:focus-visible, #size-button:active  {
    outline: none;
}
#size-button:focus-visible, 
#size-button:hover {
    transform: translateY(-5%);
}
#size-button.chosen {
    background-color: var(--cream-brown);
    color: var(--black-brown);
}

 /* =========== QUANTITY ================== */

.quantity-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5.5rem;
    border-radius: 2rem;
}
.quantity {
    display: flex;
    justify-content: space-evenly;
    border-radius: 1rem;
    height: 100%;
    width: 80%;
}
.quantifier {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.2rem;
    height: 100%;
    background-color: var(--cream-brown);
    border: none;
    transition: all .1s;
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--accent-color);
}
.quantifier:not(.result):active{
    outline: none;
    filter: brightness(70%);
}
.plus {
    border-radius: 0 1rem 1rem 0;
}
.minus {
    border-radius: 1rem 0 0 1rem;
}
.quantifier:not(.result):hover,
.quantifier:not(.result):focus-visible {
    color: var(--latte-brown);
    filter: brightness(90%);
}
.quantifier:focus-visible {
    outline: none;
}
.quantifier:not(.plus) {
    border-right: 3px solid var(--black-brown);
}


/* ============ BUY BUTTON ========== */

.buy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.6rem;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    color: var(--black-brown);
    background-color: var(--accent-color);
    /* box-shadow: 1rem 1rem 0 -.rem var(--cream-brown); */
    border-radius: 1rem;
    height: 6rem;
    border: none;
    transition: all .1s;
}


.buy-button:focus-visible,
.buy-button:hover {
    outline: none;
    transform: scale(103%);
}
.buy-button:focus-visible svg,
.buy-button:hover svg {
    transform: rotate(-40deg);
}
.cart-icon {
    transition: transform .1s;
    width: 4.3rem;
    height: 4.3rem;
    animation-play-state: paused;
}
.cart-icon.spinning {
    animation: cart .8s forwards;
    animation-play-state: running;
}
.cart-icon.no-product {
    animation: nope .3s forwards;
}

@keyframes cart {
    from {
        rotate: 0deg;
    }
    to {
        rotate: -360deg;
    }
}

/* ========================================== BUYING PART =========================================== */
/* ======================================= OPTIONAL INFORMATIONS ON THE PRODUCT ================================= */

.sub-content {
    width: calc(50% - 1rem);
    height: 100%;
    perspective: 1000px;
}

.sub-content > h4 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: .5rem;
}
.sub-content-card {
    width: 100%;
    height: 17.1rem;
    font-size: 1.6rem;
    text-align: justify;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .4s;
    cursor: pointer;
    user-select: none;

}
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-right: .8rem solid var(--latte-brown);
    border-radius: 1rem;
    padding: 1.1rem;
    background-color: rgba(67, 40, 24, 0.5);
    backface-visibility: hidden;
    transition: opacity .4s;
}
.card-back {
    transform: rotateX(-180deg);
}
.returned .card-front {
    opacity: 0;
}
.sub-content-card svg {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
}
.card-front svg,
.card-back svg {
    bottom: 1rem;
    right: 1.5rem;
    fill: var(--latte-brown);
}
.card-front:hover svg,
.card-back:hover svg {
    animation: arrow-shaking .2s infinite alternate;
}

/* ======================================= OPTIONAL INFORMATIONS ON THE PRODUCT ================================= */

/* ===================================== MORE INFORMATIONS ON THE PRODUCT ================================== */

.details-container {
    grid-area: 2 / 1 / 3 / 3 ;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 14rem 1fr 1fr calc(1fr + 8rem);
    gap: 4rem 2.5rem;
    margin: 5rem 0 0 0;
    background:#432818b3;
    backdrop-filter: blur(3px);
    padding: 3rem 25rem;
    box-shadow: 0 0 3rem 1.5rem var(--really-black-brown);
}
/* .details-container::before,
.details-container::after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: var(--black-brown);
    background:#432818b8;
    backdrop-filter: blur(3px);
}
.details-container::before {
    left: -50%;
}
.details-container::after {
    right: -50%;
} */
.details-container h3 {
    font-size: 5rem;
    margin: 6rem 0 0rem 0;
    position: relative;
    width: max-content;
    grid-area: 1/1/2/3;
    transform: translateX(-4rem);
}
.details-container h3::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
    transform: translateX(-2%);
    bottom: 0rem;
    height: .4rem;
    background-image: linear-gradient(to right, var(--accent-color), var(--spicy-purple));
    background-size: 200%;
}
.double-card-description,
.single-card-description{
    height: 100%;
    position: relative;
    box-shadow: 0 0 1.7rem .3rem var(--really-black-brown);
    background-color: var(--cream-brown);
    color: var(--latte-brown);
    font-size: 3.6rem;
    display: flex;
    align-items: center;
    padding: 2.5rem 1.5rem;
    border-radius: .8rem;
}
.double-card-description {
    grid-area: 2/1/3/3;
    height: max-content;
    justify-content: space-around;
    gap: .8rem;
}
.double-card-description:last-child {
    grid-area: 4/1/5/3;
    margin-bottom: 8rem;
    height: 38rem;
}
.single-card-description{
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 3.5rem 3rem;
}
.country {
    width: 20rem;
    height: min-content;
}
.country:first-child {
    width: 24.5rem;
}
.content {
    width: 48%;
    line-height: 3.4rem;
}
.content h4 {
    margin-bottom: 1.5rem;
}
.content p,
.single-card-description p {
    text-align: justify;
    font-size: 2.5rem;
    color: #99582ae5;
    font-family: 'Roboto', sans-serif;
}
.bean-colour-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    padding-bottom: .5rem;
    border-bottom: .2rem solid #4328185b;
}
.bean-colour-top * {
    font-weight: 500;
    font-size: 2.8rem;
    font-family: 'Roboto', sans-serif;
}
.bean-colour-top h5 {
    font-family: 'Roboto Slab', serif;
    letter-spacing: .1rem;
}
.bean {
    position: absolute;
    transform-origin: center;
    width: 8rem;
    height: 8rem;
    z-index: 1;
}
.bean:first-child {
    top: 0;
    left: 0;
    transform: translate(-40%, -40%) rotate(45deg);
}
.bean:last-child {
    bottom: 0;
    right: 0;
    transform: translate(30%, 30%) rotate(45deg);
}
.single-card-description p {
    padding: 0 1.5rem;
    line-height: 3.4rem;
}

.single-card-description ul li {
    position: relative;
    font-size: 1.8rem;
    list-style-type: none;
    height: 3.8rem;
    padding-top: 1.2rem;
    font-weight: 400;
}
.single-card-description ul li::before {
    position: absolute;
    content: '';
    display: block;
    width: 1rem;
    left: -1.5rem;
    transform: translateY(-15%);
    height: 1rem;
    top: 50%;   
    border-radius: .5rem;
}
.light {color: #b59d27;}
.light::before {background-color: #b59d27;}
.blonde {color: #b08c43;}
.blonde::before {background-color: #b08c43;}
.medium {color: #9c713f ;}
.medium::before {background-color: #9c713f;}
.brown {color: #5c3823;}
.brown::before {background-color: #5c3823;}
.dark-brown {color: var(--really-black-brown);}
.dark-brown::before {background-color: var(--really-black-brown);}

.actual {font-weight: 800 !important;}
/* .actual::after {
    position: absolute;
    content: '';
    display: block;
    width: .3rem;
    transform: translateY(-35%);
    height: calc(100% - 2rem);
    top: 50%;
    right: -.8rem;
    background: var(--spicy-purple);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);
} */

@keyframes nope {
    0% {translate: -1rem 0;}
    50% {translate: 1.5rem 0;}
    100% {translate: 0;}
}
@keyframes wiggling-top {
    0% {
        transform: translate(-40%, -40%) rotate(45deg);    }
    33% {
        transform: translate(-40%, -40%) rotate(35deg);
    }
    66% {
        transform: translate(-40%, -40%) rotate(55deg);
    }
    100% {
        transform: translate(-40%, -40%) rotate(45deg);
    }
}
@keyframes wiggling-bottom {
    0% {
        transform: translate(30%, 30%) rotate(45deg);
    }
    33% {
        transform: translate(30%, 30%) rotate(35deg);
    }
    66% {
        transform: translate(30%, 30%) rotate(55deg);
    }
    100% {
        transform: translate(30%, 30%) rotate(45deg);
    }
}
.bean:first-child.wiggling {
    animation: wiggling-top .4s ease-in-out;
}
.bean:last-child.wiggling {
    animation: wiggling-bottom .4s ease-in-out;
}


/* ===================================== MORE INFORMATIONS ON THE PRODUCT ================================== */
/* ================================================= other products suggestion ============================================ */

.other-products {
    grid-area: 3 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.cards-title-container {
    position: relative;
}
.other-products h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    width: 105rem;
}
.card.switching-to-right {
    animation: switch-to-right .3s forwards;
}
@keyframes switch-to-right {
    to {
        transform: translateX(27rem);
    }
}
.card.switching-to-left {
    animation: switch-to-left .3s forwards;
    
}
@keyframes switch-to-left {
    to {
        transform: translateX(-27rem);
    }
}
.right {
    right: -8%;
}
.left {
    left: -8%;
}
.left, .right {
    position: absolute;
    top: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: .4rem solid var(--cream-brown);
    background: transparent;
    transform: translateY(-50%);
    z-index: 999;
}
.left svg,
.right svg {
    height: 3rem;
    width: 3rem;
    fill: var(--cream-brown);
}
.right:hover, 
.right:focus-visible, 
.left:hover,
.left:focus-visible {
    backdrop-filter: brightness(85%);
}
.cards {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    padding: 2.25rem 0 4rem 0;
    gap: 2.5rem;
    border-top: 3px solid var(--really-black-brown);
    border-bottom: 3px solid var(--really-black-brown);
    overflow: hidden;
    width: 115rem;
}
.card:last-child,
.card:first-child {
    display: none;
}
.card {
    animation-play-state: paused;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 1;
    width: 24.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: rgba(255, 230, 167, 0.7);
    border-radius: 1.5rem;
    padding: 2.75rem 0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    box-shadow: 0 0 1rem .5rem var(--really-black-brown);
    transition: all .2s;
}

.card > img {
    height: 29rem;
    border-radius: 1.5rem;
    transition: all .3s;
    font-size: 2rem;
    color: var(--accent-color);
    background-color: var(--latte-brown);
}

.card > h3 {
    font-size: 2.4rem;
    font-weight: 800;
    height: auto;
    color: var(--black-brown);
    position: relative;
    transform: translateY(1.25rem);
    transition: all .3s;
    transition-delay: .3s;
}
.card > h3::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
    width: 100%;
    transform: scaleX(0);
    background-color: var(--latte-brown);
    height: 2px;
    transition: all .3s;
}
.card > h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--black-brown);
    transform: translateY(-1rem);
    filter: opacity(0);
    transition: transform .3s 200ms, filter .2s 0ms;
}
.card p {
    position: absolute;
    bottom: -2rem;
    height: 3.8rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Roboto';
    font-weight: 500;
    width: 16rem;
    border-radius: 1.8rem;
    text-align: center;
    font-size: 1.9rem;
    letter-spacing: 1px;
    color: var(--cream-brown);
    padding: 0.8rem;
    background-image: linear-gradient(to right, var(--accent-color), var(--spicy-purple));
    background-size: 300%;
    transition: all .3s;
}

/* ========= ANIMATION PART ========= */

.card:not(:last-child):hover img,
.card:not(:last-child):focus-visible img {
    transform: translateY(-2.5rem) scale(113%);
}
.card:not(:last-child):hover h3::after,
.card:not(:last-child):focus-visible h3::after {
    transform: scaleX(1);
}
.card:not(:last-child):hover h3,
.card:not(:last-child):focus-visible h3 {
    transform: translateY(0);
}
.card:not(:last-child):hover h4,
.card:not(:last-child):focus-visible h4 {
    transform: translateY(.2rem);
    filter: opacity(1);
    transition: transform .2s 0ms, filter .2s 300ms;
}
.card:not(:last-child) p:hover {
    background-position: right;
}
.card:last-child:focus-visible {
    outline: none !important;
}


/* ======================================== BAS DE PAGE ============================================= */



footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-size: 2.2rem;
    width: 100vw;
    height: min-content;
    padding: 5.5rem 0;
    background-color: var(--really-black-brown);
}
footer ul {
    width: max-content;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 4rem;
}
footer ul li:nth-child(even) {
    margin-left: 3rem;
    position: relative;
}
footer ul li:nth-child(even)::before {
    display: block;
    content: '-';
    position: absolute;
    left: -1.5rem;
}
footer ul li:nth-child(odd) {
    font-size: 2.6rem;
    letter-spacing: .05rem;
    font-family: 'Roboto';
    font-weight: 500;
}
.advises>ol {
    display: flex;
    flex-direction: column;
    gap: 1.05rem;
    transform: translateX(5rem);
}
footer>div>h2 {
    font-family: 'Roboto';
    letter-spacing: .2rem;
}
#contact>h2 {
    margin-bottom: 1.6rem;
}
.advises>h2 {
    margin-bottom: 2rem;
}

/* ===================================== omg test ==================================== */

#light-check {
    width: 2rem;
    height: 1rem;
    background-color: var(--cream-brown);
}
#light-check:checked {
    width: 4rem;
}
label[for="light-check"] {
    width: 5rem;
    height: 2rem;
    background: #000;
    display: block;
}

/* ========================================== PARTIE RESPONSIVE ============================================== */

@media screen and (max-width: 1700px) {
    html {
        font-size: 62.5%;
    }
}
@media screen and (max-width: 1600px) {
    html {
        font-size: 59%;
    }

}
@media screen and (max-width: 1500px) {
    html {
        font-size: 56%;
    }
    :root {
        --scale: 55;
    }
}
@media screen and (max-width: 1320px) {
    html {
        font-size: 53%;
    }
    .top-navbar {
        padding: 0 12rem;
    }
    :root {
        --scale: 55;
    }
}
@media screen and (max-width: 1220px) {
    html {
        font-size: 50%;
    }

    :root {
        --scale: 55;
    }
}
@media screen and (max-width: 1100px) {
    html {
        font-size: 47%;
    }

    :root {
        --scale: 55;
    }

}
@media screen and (max-width: 1060px) {
    html {
        font-size: 55%;
    }

    main {
        width: 100vw;
    }
    .coffee-cup {
        display: none;
    }
    .coffee-pot-container {
        display: none;
    }
    .hamburger {
        display: block;
    }

    :root {
        --scale: 55;
    }
}


/* ========================================= OPTIONAL INLINE DESIGN =========================================== */

b {
    font-weight: 600;
}
#latte {
    color: var(--latte-brown);
}
#accent {
    color: var(--accent-color);
}