/* reset css */

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* custom properties */

html {
    font-size: 62.5%;
}
:root {
    --black-brown: #432818;
    --really-black-brown: #362013;
    --latte-brown: #99582A;
    --cream-brown: #FFE6A7;
    --accent-color: #339989;
    --spicy-purple : #5f2c82;
}
body {
    background: url(../assets/lukasz-rawa-fmc-tFMMiBs-unsplash_1500.png) fixed;
    background-color: var(--black-brown);
    background-size: cover;
    color: var(--cream-brown);
    display: grid;
    grid-template-columns: calc(100% - 40vw) 1fr;
    font-family: 'Roboto', serif;
    font-size: 2rem;
}
.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    z-index: 100;
    height: 100%;
    inset: 0;
    background-color: var(--black-brown);
    transition: .25s;
}
.disappear {
    animation: disappear .3s forwards;
}
@keyframes disappear {
    from {
        filter: opacity(80%);
    }
    to {
        filter: opacity(0);
    }
}
.dot {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--cream-brown);
    animation: loading .2s infinite alternate;
}
.dot:nth-child(2) {
    animation-delay: .1s;
}
.dot:nth-child(3) {
    animation-delay: .2s;
}
@keyframes loading {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-4rem);
    }
}

/* ***************************************************************NAVBAR***************************************************************** */

.top-navbar {
    display: grid;
    z-index: 2;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(max-content + 1rem);
    min-height: 35px;
    padding: .5rem 10rem;
    box-shadow: 0 2px 1rem var(--really-black-brown);
    background-color: rgba(54, 32, 19, 0.674);
    backdrop-filter: blur(10px);
}

/* logo ROBUSTO */
.item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1/2/2/3;
}
.item2 svg {
    width: 25rem;
    height: auto;
}

/* bouton compte utilisateur et panier */

.item3{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    grid-area: 1/3/2/4;
}
.user-buttons {
    width: 24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.7rem;
    width: max-content;
    list-style-type: none;
}
.user-buttons li {
    position: relative;
    display: block;
    height: max-content;
}
.user-buttons>li:first-child {
    height: 6.3rem;
    transform: translate(1rem, -.1rem);
}
.user-buttons li:first-child button,
.user-buttons li:first-child>div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    border-radius: 1rem;
    height: 100%;
    padding: 1rem 0;
    background: none;
    border: none;
    color: var(--cream-brown);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    transition: all .2s;
    cursor: pointer;
    text-decoration: none;
}
.user-buttons li:first-child button {
    width: 11rem;
}
.flag{
    width: 5rem;
    margin-right: .8rem;
}
.user-buttons li:first-child button:hover,
.user-buttons li:first-child button:focus-visible,
.user-buttons li:first-child>div a:hover,
.user-buttons li:first-child>div a:focus-visible {
    backdrop-filter: brightness(90%);
}
.drop-down-language-picker {
    display: none;
    border-radius: 1rem;
    position: absolute;
    left: -7rem;
    bottom: -330%;
    width: 22rem;
    padding: 2rem;
    background-color: var(--spicy-purple);
    transition: all .2s;
    box-shadow: 0 0 2rem var(--really-black-brown);
    font-family: 'Roboto', sans-serif;
}
.user-buttons li:first-child>div>p {
    font-size: 2.3rem;
    white-space: break-spaces;
    margin-bottom: 1rem;
    font-weight: 600;
}
.user-buttons li:first-child ul li {
    display: flex;
    justify-content: center;
}
.user-buttons li a {
    display: block;
    transition: all .2s;
    user-select: none;
}
.user-icon {
    width: 4.8rem;
    height: 4.8rem;
    transition: transform .1s;
}
.user-icon:hover,
.user-icon:focus-visible,
.shopping-cart-icon:hover,
.user-buttons>li>a:focus-visible {
    transform: rotate(-17deg);
}
#cart-number {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--latte-brown);
    transform: translate(30%, -30%);
    border-radius: 1rem;
    width: max-content;
    padding: .25rem .8rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--cream-brown);
    height: 2rem;
    pointer-events: none;
}


/* ****************************************************************************ACHATS DU CLIENT********************************************************************************** */

.cart-products {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
    padding: 10rem 4rem 2rem 4rem;
    transition: all .2s;
}
.cart-products.got-a-weely {
    padding-bottom: 0;
}
h1 {
    width: 100%;
    font-size: 4rem;
    position: relative;
}
h1::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1rem;
    width: 100%;
    height: .25rem;
    background-color: var(--cream-brown);
    border-radius: 999px;
}
/* *********************WEELY*******************************/
.weely {
    height: 56rem;
    transform: translateY(-.8rem);
    animation: fade-in .2s ease-in forwards;
}

/* *********PART OF BODY *********** */

#bubble {
    animation: bubble 1s ease-in-out infinite alternate;
}
@keyframes bubble {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(1rem);
    }
    
}
@keyframes wiggling {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(.4rem);
    }
}
@keyframes wiggling-adaptating {
    from{
        transform: scaleY(1);
    }
    to{
        transform: scaleY(1.1);
    }
}
@keyframes fade-in {
    from{
        filter: opacity(0);
    }
    to{
        filter: opacity(1);
    }
    
}
#coffee-cup-inside {
    animation: wiggling .8s ease-in-out infinite alternate;
}
#coffee-liquid {
    animation: wiggling-adaptating .8s ease-in-out infinite alternate;
    transform-origin: top;
    transform-box: fill-box;
}

/* ********************FIN WEELY*****************************/
.product {
    background-color: var(--really-black-brown);
    box-shadow: 0 0 3rem var(--really-black-brown);
    padding: 2rem;
    width: 82rem;
    height: 26rem;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: min-content 1fr;
    gap: 0 2rem;
    filter: opacity(85%);
    transition: all .2s;
}
.going-up {
    transition: all .2s ease-in-out !important;
    transform: translateY(calc(-100% - 3.4rem));
}
.begin-anim-ended {
    transition: filter .2s;
}
.not-on-screen {
    transform: translateX(14rem);
    filter: opacity(0);
}
/* DETAILS DE CHAQUE CARTE */

.product img {
    width: 15rem;
    height: 100%;    
    border-radius: 2rem .5rem .5rem 2rem;
    grid-area: 1/1/-1/2;
}

.product .title {
    grid-area: 1/2/3/3;
    position: relative;

}
.title h2{
    font-size: 4rem;
    font-family: 'Roboto Slab', serif;
    margin-top: 1rem;
    width: max-content;
    position: relative;
}
.title h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.title h2::after {
    display: block;
    position: absolute;
    bottom: 0;
    content: '';
    width: calc(100% - 6rem);
    height: .35rem;
    background-color: var(--latte-brown);
    clip-path: polygon(2% 0, 100% 0, 98% 100%, 0% 100%);
}
.title>p {
    font-size: 2.4rem;
    font-weight: 900;
    margin-top: .5rem;
}
.title p:last-child {
    font-size: 1.8rem;
}
.quantity {
    display: flex;
    justify-content: space-evenly;
    border-radius: 1rem;
    width: 15rem;
    height: 5rem;
    position: absolute;
    left: 20vw;
    bottom: 3rem;
}
.quantifier {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.2rem;
    height: 100%;
    background-color: var(--cream-brown);
    border: none;
    transition: all .1s;
    font-size: 2.6rem;
    font-weight: bold;
    color: var(--accent-color);
}
.quantifier:not(.result):active{
    outline: none;
    filter: brightness(70%);
}
.plus {
    border-radius: 0 1rem 1rem 0;
}
.minus {
    border-radius: 1rem 0 0 1rem;
}
.quantifier:not(.result):hover,
.quantifier:not(.result):focus-visible {
    color: var(--latte-brown);
    cursor: pointer;
    filter: brightness(90%);
}
.quantifier:focus-visible {
    outline: none;
}
.quantifier:not(.plus) {
    border-right: 3px solid var(--black-brown);
}


/* icon et animations de la poubelle */

.trash {
    margin: .5rem calc(100% - 5rem);
    width: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    height: auto;
    background: none;
    border: none;
    cursor: pointer;
}
.trash svg {
    fill: var(--latte-brown);
    width: 100%;
    height: max-content;
    transition: all .15s;
}
.trash svg:first-child {
    transform-origin: left;
    width: 3.8rem;
    transform: translate(-.4rem, -.1rem);
}

.trash:hover,
.trash:focus-visible {
    backdrop-filter: brightness(90%);
}
.trash:hover svg:first-child,
.trash:focus-visible svg:first-child {
    transform: translate(-.5rem) rotate(-25deg);
}

/* ****************************************************************************VALIDATION DE L'ACHAT********************************************************************************** */

.cart-validation {
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
    padding: 10.5rem 4rem 2rem 4rem;
    background-color: #362013d3;
    box-shadow: -1rem 0 4rem var(--really-black-brown);
}
.cart-validation::before,
.cart-validation::after {
    content: '';
    display: block;
    position: absolute;
    width: 6rem;
    height: 6rem;
    background-color: var(--latte-brown);
    bottom: 0;
}
.cart-validation::before {
    left: 0;
    clip-path: polygon(100% 100%, 0 0, 0 100%);
}
.cart-validation::after {
    right: 0;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
.cart-validation>div:last-child,
.cart-validation>div:nth-last-child(2)>div {
    display: flex;
    position: relative;
    padding: .4rem;
    justify-content: space-between;
    font-size: 2rem;
    width: 100%;
}
.cart-validation h2 {
    width: 100%;
    position: relative;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}
.cart-validation h2::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1.2rem;
    height: .2rem;
    background-color: var(--cream-brown);
    border-radius: 999px;
    width: calc(100% + 2rem);
    transform: translateX(-1.5rem)
}
.cart-validation label {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    user-select: none;
    font-size: 2.2rem;
    gap: 1rem;
}
.cart-validation label input {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: var(--spicy-purple);
    font-weight: 700;
    font-size: 1.8rem;
    padding: .9rem 1.3rem;
    text-transform: uppercase;
    border: none;
    letter-spacing: .1rem;
    background-color: var(--cream-brown);
    border-radius: .5rem;
    transition: all .2s;
    max-width: 18rem;
}
.cart-validation label button {
    flex-grow: 1;
    display: block;
    padding: .8rem 2rem;
    border-radius: .5rem;
    color: var(--cream-brown);
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: 1.7rem;
    border: .3rem solid var(--latte-brown);
    background-color: var(--latte-brown);
    cursor: pointer;
    transition: all .2s;
    max-width: 13rem;
}
.cart-validation label input:focus,
.cart-validation>label>input:hover,
.cart-validation label input:focus-visible {
    outline: none;
    border-radius: .8rem;
}
.cart-validation label input::placeholder {
    font-size: 1.6rem;
    text-transform: capitalize;
}
.cart-validation label button:hover,
.cart-validation label button:focus-visible {
    background-color: transparent;
    border-radius: .8rem;
}
.recap-products {
    margin: 3rem 0 2rem;
    min-height: 17rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.recap-product {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 6rem 1fr;

}
.recap-product::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--cream-brown);
    border-radius: 99px;
    width: 100%;
    top: 130%;
    height: 1px;

}
.recap-product *:last-child {
    text-align: end;
    padding-right: 1rem;
}
.recap-product *:nth-last-child(2) {
    text-align: center;
}
.recap-product h3 {
    font-weight: 400;
    font-size: 2rem;
}
.mendatory-informations {
    margin: 2.5rem 0 1.5rem;
}
.mendatory-informations div:not(:nth-child(3)) p {
    font-size: 1.8rem;
}
.mendatory-informations>div:first-child::after {
    content: '';
    display: block;
    position: absolute;
    top: -1.2rem;
    height: .1rem;
    background-color: var(--cream-brown);
    border-radius: 999px;
    width: calc(100% + 2rem);
    transform: translateX(-1.5rem)
}
.mendatory-informations>div:last-child>p {
    font-size: 1.5rem;
}
.cart-validation>div:last-child {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 15.5rem;
}
.cart-validation>div:last-child a {
    width: 93%;
    text-align: center;
    padding: 1.4rem;
    font-family: 'Roboto', sans-serif;
    border-radius: .5rem;
    font-size: 2.8rem;
    background-image: linear-gradient(to right, var(--accent-color), var(--spicy-purple));
    background-size: 400%;
    color: var(--cream-brown);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: .1rem;
    box-shadow: 0 0 1rem .5rem var(--really-black-brown);
    transition: all .2s;
}
.cart-validation div:last-child a:last-child {
    background-image: linear-gradient(to right, #D6A411, var(--spicy-purple));
    color: #fff;
    align-content: center;
    font-size: 1.5rem;
}
.cart-validation div:last-child a:focus-visible,
.cart-validation div:last-child a:hover {
    background-position: 90%;
    border-radius: .7rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    font-size: 2rem;
    width: 100vw;
    height: min-content;
    padding: 4rem 0;
    background-color: var(--really-black-brown);
}
footer ul {
    width: max-content;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 4rem;
}
footer ul li:nth-child(even) {
    margin-left: 3rem;
    position: relative;
}
footer ul li:nth-child(even)::before {
    display: block;
    content: '-';
    position: absolute;
    left: -1.5rem;
}
footer ul li:nth-child(odd) {
    font-size: 2.4rem;
    letter-spacing: .05rem;
    font-family: 'Roboto';
    font-weight: 500;
}
.advises>ol {
    display: flex;
    flex-direction: column;
    gap: 1.05rem;
    transform: translateX(5rem);
    width: calc(100% - 5rem);
}
footer>div>h2 {
    font-family: 'Roboto';
    letter-spacing: .2rem;
}
#contact>h2 {
    margin-bottom: 1.6rem;
}
.advises>h2 {
    margin-bottom: 2rem;
}


/* ****************************************************************************INITIALISATION FINALE***************************************************************************** */

#latte {
    color: var(--latte-brown);
}
#accent {
    color: var(--accent-color);
    font-weight: 800;
}

@keyframes fade-in-top {
    from {
        transform: translateY(-1.5rem);
        filter: opacity(0);
    }
    to{
        transform: translateY(0);
        filter: opacity(1);
    }
}
@keyframes fade-in-top-reverse {
    from {
        transform: translateY(0);
        filter: opacity(1);
    }
    to{
        transform: translateY(-1.5rem);
        filter: opacity(0);
    }
}
@media screen and (max-width: 1700px) {
    html {
        font-size: 62.5%;
    }
}
@media screen and (max-width: 1600px) {
    html {
        font-size: 59%;
    }

}
@media screen and (min-width: 1500px) {
    body {
        background-image: url(../assets/lukasz-rawa-fmc-tFMMiBs-unsplash_2000.png);
    }
}
@media screen and (max-width: 1500px) {
    html {
        font-size: 56%;
    }
    body {
        background-image: url(../assets/lukasz-rawa-fmc-tFMMiBs-unsplash_1500.png);
    }
}
@media screen and (max-width: 1350px) {
    html {
        font-size: 53%;
    }
    .top-navbar {
        padding: 0 12rem;
        height: 7.5rem;
    }
}
@media screen and (max-width: 1230px) {
    html {
        font-size: 50%;
    }
}
@media screen and (max-width: 1180px) {
    html {
        font-size: calc(0.55vw + 0.1rem);
    }
    body {
        grid-template-columns: calc(100% - 35vw) 1fr;
    }
    .top-navbar {
        padding: 1.2rem 10rem;
        height: min-content;
        box-shadow: none;
      }
    .cart-validation>div:last-child {
        justify-content: center;
        gap: 1rem;
    }    
    .cart-validation div:last-child a {
        height: 5.7rem;
        font-size: 2.5rem;
    }
    .cart-validation div:last-child a svg {
        height: 100%;
    }
    .recap-product {
        grid-template-columns: 1fr 6rem 0.5fr;
    }
}
@media screen and (max-width: 1000px) {
    html {
        font-size: 45%;
    }
    body {
        display: block;
        background-image: url(../assets/lukasz-rawa-fmc-tFMMiBs-unsplash_1000.png);
    }
    .weely {
        width: 100%;
        margin: 5rem 0;
    }
    .cart-validation, .recap-products {
        min-height: min-content;
    }
    .cart-validation {
        padding-bottom: 6rem;
    }
    .product {
        width: 70%;
    }
    .cart-products {
        min-height: 80vh;
    }
}
@media screen and (max-width: 900px) {
    .product {
        width: 70vw;
    }
}






@media screen and (max-width: 840px) {
    .top-navbar {
        padding: 0 5rem;
        height: 8vh;
        min-height: calc(35px + 2rem);
    }
    html {font-size: 45%;}
}
@media screen and (max-width: 736px) {
    html {
        font-size: 40%;
    }
}
@media screen and (max-width: 660px) {
    body {
        background-image: url(../assets/lukasz-rawa-fmc-tFMMiBs-unsplash_500.png);
    }
    footer {
        flex-direction: column;
        gap: 4rem;
        padding: 6rem;
        width: 100%;
    }
    .advises li {
        font-size: 3rem;
        width: 100% !important;
    }
    #contact li:nth-child(even) {
        font-size: 3rem;
        width: calc(100% - 3rem);

    }
    .advises, #contact {
        width: 100%
    }
    #contact>ul {
        width: calc(100% - 4rem);
    }
    #contact li:nth-child(odd) {
        font-size: 3.3rem;
    }
    .advises>ol {
        margin-left: 2rem;
        width: calc(100% - 2rem);
    }
}
@media screen and (max-width: 454px) {
    html {
        font-size: 1.5vw;
    }
}
@media screen and (max-width: 380px) {
    body {
        background-image: url(../assets/lukasz-rawa-fmc-tFMMiBs-unsplash_400.png);
    }
    .logo-robusto svg {
        height: 5.5rem;
        width: auto;
    }
    .user-buttons li svg {
        width: 4.5rem;
        height: auto;
    }
    .user-buttons>li>button {
        font-size: 0 !important;
        width: max-content;
    }
    .user-buttons>li>button>img {
        width: 6rem;
    }
    .cart-products {
        padding-top: 15rem;
    }
}
@media screen and (max-width: 250px) {
    .logo-robusto svg {
        width: 20rem;
    }
}