
/* reset css */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button:focus, a:focus {
    outline: none;
}

/* custom properties */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 15rem;
}
:root {
    --black-brown: #432818;
    --really-black-brown: #362013;
    --latte-brown: #99582A;
    --cream-brown: #FFE6A7;
    --accent-color: #339989;
    --spicy-purple : #5f2c82;
    --scale: 51;
    --h1-size: 49rem;
}
body {
    background: url(../assets/lukasz-rawa-fmc-tFMMiBs-unsplash.jpg) fixed;
    background-color: var(--black-brown);
    background-size: cover;
    color: var(--cream-brown);
    font-family: 'Roboto Slab', serif;
}

.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    z-index: 100;
    height: 100%;
    inset: 0;
    background-color: var(--black-brown);
    transition: filter .25s;
}
.dot {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--cream-brown);
    animation: loading .2s infinite alternate;
}
.dot:nth-child(2) {
    animation-delay: .1s;
}
.dot:nth-child(3) {
    animation-delay: .2s;
}
@keyframes loading {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-4rem);
    }
}
.disappear {
    filter: opacity(0);
}
button:focus-visible, a:focus-visible {
    outline: 2px dashed #fff;
}
button, a {
    cursor: pointer;
}

/*TOP NAVBAR ET SES ELEMENTS*/

.top-navbar {
    display: grid;
    z-index: 2;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    top: 0;
    width: 100%;
    height: calc(max-content + 1rem);
    min-height: 35px;
    padding: .5rem 10rem;
    box-shadow: 0 2px 1rem var(--really-black-brown);
    background-color: rgba(54, 32, 19, 0.674);
    backdrop-filter: blur(10px);
}

/* Tout en rapport avec la navbar sur le coté */

/* 1. icône de la navbar */

.item1{
    display: flex;
    align-items: center;
}
.hamburger {
    display: none;
    position: relative;
    width: 7rem;
    height: 6rem;
    border-radius: 1rem;
    background-color: transparent;
    border: none;
}
.hamburger:hover,
.hamburger:focus-visible {
    backdrop-filter: brightness(90%);
}
.line {
    display: block;
    position: absolute;
    width: 5rem;
    height: 3px;
    background-color: var(--cream-brown);
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 !important;
}

.line.middle {
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    animation: middle-line-reverse .35s ease-out forwards;

}
.line.middle.active {
    animation: middle-line .35s ease-out forwards;
}
.line.top {
    top: 1.2rem;
    animation: top-line-reverse .35s ease-out forwards;
}
.line.top.active {
    animation: top-line .35s ease-out forwards;
}
.line.bottom {
    bottom: 1.2rem;
    animation: bottom-line-reverse .35s ease-out forwards;
}
.line.bottom.active {
    animation: bottom-line .35s ease-out forwards;
}
.header {
    display: none;
}
@keyframes top-line {
    40% {
        top: 50%;
    }
    70% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}
@keyframes middle-line {
    0% {
        filter: opacity(1);
    }
    50% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(0);
    }
}
@keyframes bottom-line {

    40% {
        bottom: 50%;
    }
    70% {
        bottom: 50%;
        transform: translate(-50%, 50%) rotate(0deg);
    }
    100% {
        bottom: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }
}
@keyframes top-line-reverse {
    0% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    50% {
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        top: 1.2rem;
        transform: translate(-50%, -50%) rotate(0deg);
    }
}
@keyframes middle-line-reverse {
    0% {
        filter: opacity(0);
    }
    50% {
        filter: opacity(0);
    }
    55% {
        filter: opacity(1);
    }
}
@keyframes bottom-line-reverse {
    0% {
        bottom: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }
    50% {
        bottom: 50%;
        transform: translate(-50%, 50%) rotate(0deg);
    }
    100% {
        bottom: 1.2rem;
        transform: translate(-50%, 50%) rotate(0deg);
    }
}
.coffee-pot-container {
    display: flex;
    align-items: center;
    width: 7rem;
    height: 100%;
    position: relative;
    border: none;
    border-radius: 20px;
    background-color: transparent;
    transition: backdrop-filter .1s;
}

.coffee-pot-container:hover, 
.coffee-pot-container:focus-visible {
    backdrop-filter: brightness(90%);
    outline: none;
}

.coffee-pot-icon {
    width: 6rem;
    height: 100%;
    transition: transform .2s cubic-bezier(.66,.43,.65,.41);
    transition-delay: .2s;
}
.coffee-pot-icon.active {
    transform: rotate(90deg);
    transition: transform .2s;
    transition-delay: .2s;
}
.coffee-pot-container::after {
    content: '';
    display: block;
    width: 0;
    height: .5rem;
    border-top-right-radius: 80%;
    background-color: var(--latte-brown);
    position: absolute;
    top: 5.5rem;
    left: 6.1rem;
    z-index: -1;
    transform-origin: top;
    animation: var(--animation, none) forwards;
}

/* animation du café qui coule */

@keyframes liquid {
    0%{
        width: 0rem;
    }    
    50%{
        width: 0rem;
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(var(--scale));
        width: .5rem;
    }
}
@keyframes liquid-reverse {
    0%{
        transform: scaleY(var(--scale)) translateY(0%);
        width: .5rem;
    }
    99.9%{
        transform: scaleY(var(--scale)) translateY(100%);
        width: .5rem;
    }
    100%{
        display: none;
    }
}




/* navbar gobelet à café */

.coffee-cup {
    position: fixed;
    top: 15rem;
    z-index: 2;
    left: -40rem;
    width: 40rem;
    height: max-content;
    transition: transform .2s;
    transition-delay: 0s;

}
.coffee-smoke {
    height: 10rem;
    transform: translate(8%, 50%);
    filter: opacity(0);
    transition: filter .5s, transform .5s;

}
.coffee-smoke.visible {
    filter: opacity(0.3);
    transition: filter .3s, transform .3s;
    transform: translate(8%, 0%);
}
.coffee-cup-image {
    width: 100%;
    height: 38rem;
}
.side-navbar-links {
    position: absolute;
    top: 26.1rem;
    right: 5rem;
    width: max-content;
    font-size: 2.2rem;
    list-style-type: none;
    text-align: end;

}
.side-navbar-links li{
    margin-bottom: 1.5rem;
}
.side-navbar-links li:first-child{
    display: none;
}
.side-navbar-links li a{
    position: relative;
    text-decoration: none;
    font-weight: 600;
    color: var(--black-brown);
    font-family: 'Roboto', sans-serif;
}
.side-navbar-links li a::after {
    content: '';
    display: block;
    position: absolute;
    right: -.5rem;
    top: .2rem;
    width: .2rem;
    background-color: var(--latte-brown);
    height: 90%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .2s;
}


.side-navbar-links li:hover a::after {
    transform: scaleY(1);
}

.coffee-cup.out {
    transform: translate(74%, 0%);
    transition-delay: 0s;
}

/* logo ROBUSTO */

.item2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item2 svg {
    width: 25rem;
    /* height: 2rem; */
}

/* bouton compte utilisateur et panier */

.item3{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    grid-area: 1/3/2/4;
}
.user-buttons {
    width: 24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.7rem;
    width: max-content;
    list-style-type: none;
}
.user-buttons li {
    position: relative;
    display: block;
    height: max-content;
}
.user-buttons>li:first-child {
    height: 6.3rem;
    transform: translate(1rem, -.1rem);
}
.user-buttons li:first-child button,
.user-buttons li:first-child>div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    border-radius: 1rem;
    height: 100%;
    padding: 1rem 0;
    background: none;
    border: none;
    color: var(--cream-brown);
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    transition: all .2s;
    cursor: pointer;
}
.flag{
    width: 5rem;
    margin-right: .8rem;
}
.user-buttons li:first-child button:hover,
.user-buttons li:first-child button:focus-visible,
.user-buttons li:first-child>div a:hover,
.user-buttons li:first-child>div a:focus-visible {
    backdrop-filter: brightness(90%);
}
.drop-down-language-picker {
    display: none;
    border-radius: 1rem;
    position: absolute;
    left: -7rem;
    bottom: -330%;
    width: 22rem;
    padding: 2rem;
    background-color: var(--spicy-purple);
    transition: all .2s;
    box-shadow: 0 0 2rem var(--really-black-brown);
    font-family: 'Roboto', sans-serif;
}
.user-buttons li:first-child>div>p {
    font-size: 2.3rem;
    white-space: break-spaces;
    margin-bottom: 1rem;
    font-weight: 600;
}
.user-buttons li:first-child ul li {
    display: flex;
    justify-content: center;
}
.user-buttons li:first-child>div a {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 18rem;
    padding-left: 1.2rem;
    text-decoration: none;
}
.user-icon, .shopping-cart-icon {
    width: 4.8rem;
    height: 4.8rem;
    transition: transform .1s;
}
.user-icon:hover,
.user-icon:focus-visible,
.shopping-cart-icon:hover,
.user-buttons>li>a:focus-visible {
    transform: rotate(-17deg);
}
.user-buttons li a {
    display: block;
    transition: all .2s;
    user-select: none;
}
#cart-number {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--latte-brown);
    transform: translate(30%, -30%);
    border-radius: 1rem;
    width: max-content;
    padding: .25rem .8rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--cream-brown);
    height: 2rem;
    pointer-events: none;
}
@keyframes fade-in-top {
    from {
        transform: translateY(-1.5rem);
        filter: opacity(0);
    }
    to{
        transform: translateY(0);
        filter: opacity(1);
    }
}
@keyframes fade-in-top-reverse {
    from {
        transform: translateY(0);
        filter: opacity(1);
    }
    to{
        transform: translateY(-1.5rem);
        filter: opacity(0);
    }
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6rem 0;
    grid-template-rows: 65rem calc(max-content + 8rem) 1fr;
    padding: 9.5rem 0 8rem;
    position: relative;
    width: 100%;
    z-index: 1;
    transition: filter .3s ease;
}
main::after {
    content: '';
    display: none;
    background-color: #00000052;
    position: absolute;
    inset: 0;
    z-index: 10;
}
/* CONTENU DE LA PAGE */

/* PHOTO DU PRODUIT */

.product-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 5rem;
}
.photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin-left: 7rem;
}
.product-photo {
    width: 40rem;
    height: 60rem;
    background-image: url("../assets/black.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-position: 50% 50%;
    clip-path: polygon(80% 0%, 100% 20%, 100% 100%, 20% 100%, 0% 80%, 0 0);
    box-shadow: 0 0 5px 8px rgba(153, 88, 42, 0.1);
    transition: transform 200ms, background-position 0ms, background-size 200ms;
    cursor: zoom-in;
}

.product-photo:hover {
    transform: scale(102%);
    background-size: 108%;
}
.photo-container::after {
    content: '';
    position: absolute;
    clip-path: none;
    display: block;
    background-color: var(--latte-brown);
    height: 60rem;
    width: 40rem;
}
.product-photo.zoomed {
    background-size: 200%;
    cursor: zoom-out;
}

/* DESCRIPTION DU PRODUIT */

.product-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 7rem 2rem 0rem;
}
.title {
    width: max-content;
}
.title.first {
    display: none;
}
h1{
    font-weight: 700;
    width: 100%;
    font-size: 6rem;
    position: relative;
    letter-spacing: .17rem;
    
}

/* trait sous le nom du produit */

h1::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(var(--h1-size) - 4rem);
    height: .4rem;
    background-color: var(--accent-color);
    clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
}
.title h2 {
    font-size: 3.2rem;
    text-align: right;
    letter-spacing: .12rem;

}

.description, .buying-part {
    font-family: 'Roboto', sans-serif;
}
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8rem;
    height: max-content;
    padding-bottom: .3rem;
}
.price {
    font-size: 3rem;
    font-weight: 800;
    color: var(--accent-color);
    filter: brightness(120%);
    width: max-content;
    transform: translateY(-70%);
}
.product-content h3 {
    font-size: 2.4rem;
    letter-spacing: .11rem;
}
.product-description {
    width: 100%;
    height: 15rem;
    cursor: pointer;
    user-select: none;
    perspective: 1000px;
}
.product-description-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform .4s;
}
.front, .back {
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-weight: 300;
    font-size: 1.8rem;
    text-align: justify;
    padding: 1.4rem;
    font-family: 'Roboto Slab';
    border-left: .8rem solid rgba(153, 88, 42, 0.7);
    background-color: rgba(67, 40, 24, 0.5);
    /* box-shadow: 0 0 1rem #43281874; */
    border-radius: 1rem;
    letter-spacing: .05rem;
}
.front {
    transition-delay: transform .175s;
}
.front *:not(svg) {
    transition-delay: .15s;
}


.back {
    transform: rotateX(180deg);
}
.returned {
    transform: rotateX(180deg);
}
.returned .front  * {
    filter: opacity(0);
    transition-delay: 0ms;
    transition: all .2s;
}

.bottom-part-container {
    display: flex;
    width: 100%;
    gap: 2rem;
    font-weight: 300;

}

.front svg,
.back svg {
    position: absolute;
    bottom: 1.7rem;
    right: 2.5rem;

    width: 2.4rem;
    height: 2.4rem;
    fill: var(--latte-brown);
    transition: all .3s;
}
.front svg {
    transition: all .2s;
}
.front:hover svg,
.returned:hover .back svg {
    animation: arrow-shaking .2s infinite alternate;
}

@keyframes arrow-shaking {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(1rem);
    }
}

/* ========================================== BUYING PART =========================================== */

.buying-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20rem;
    width: calc(50% - 1rem);
}

/* ================ SIZE =============== */

.packaging-size {
    display: flex;
    justify-content: space-between;
    gap: 1.8rem;
    width: 100%;
    height: 6rem;
}
#size-button {
    height: 100%;
    width: 7.4rem;
    border: .4rem solid var(--cream-brown);
    background: transparent;
    color: var(--cream-brown);
    font-size: 2.2rem;
    font-weight: 600;
    border-radius: 1rem;
    transition: all .1s;
}
#size-button:focus-visible, #size-button:active  {
    outline: none;
}
#size-button:focus-visible, 
#size-button:hover {
    transform: translateY(-5%);
}
#size-button.chosen {
    background-color: var(--cream-brown);
    color: var(--black-brown);
}

 /* =========== QUANTITY ================== */

.quantity-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5.5rem;
    border-radius: 2rem;
}
.quantity {
    display: flex;
    justify-content: space-evenly;
    border-radius: 1rem;
    height: 100%;
    width: 80%;
}
.quantifier {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.2rem;
    height: 100%;
    background-color: var(--cream-brown);
    border: none;
    transition: all .1s;
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--accent-color);
}
.quantifier:not(.result):active{
    outline: none;
    filter: brightness(70%);
}
.plus {
    border-radius: 0 1rem 1rem 0;
}
.minus {
    border-radius: 1rem 0 0 1rem;
}
.quantifier:not(.result):hover,
.quantifier:not(.result):focus-visible {
    color: var(--latte-brown);
    filter: brightness(90%);
}
.quantifier:focus-visible {
    outline: none;
}
.quantifier:not(.plus) {
    border-right: 3px solid var(--black-brown);
}


/* ============ BUY BUTTON ========== */

.buy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-size: 1.6rem;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    color: var(--black-brown);
    background-color: var(--accent-color);
    border-radius: 1rem;
    height: 6rem;
    border: none;
    transition: all .1s;
    text-align: center;
    fill: var(--black-brown);
}


.buy-button:focus-visible,
.buy-button:hover {
    outline: none;
    transform: scale(103%);
}
.buy-button:focus-visible svg,
.buy-button:hover svg {
    transform: rotate(-40deg);
}
.cart-icon {
    transition: transform .1s;
    width: 4.3rem;
    height: 4.3rem;
    animation-play-state: paused;
}
.cart-icon.spinning {
    animation: cart .8s forwards;
    animation-play-state: running;
}
.cart-icon.no-product {
    animation: nope .3s forwards;
}

@keyframes cart {
    from {
        rotate: 0deg;
    }
    to {
        rotate: -360deg;
    }
}

/* ========================================== BUYING PART =========================================== */
/* ======================================= OPTIONAL INFORMATIONS ON THE PRODUCT ================================= */

.sub-content {
    width: calc(50% - 1rem);
    height: 100%;
    perspective: 1000px;
}

.sub-content > h4 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: .5rem;
}
.sub-content-card {
    width: 100%;
    height: 17.1rem;
    font-size: 1.6rem;
    text-align: justify;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .4s;
    cursor: pointer;
    user-select: none;

}
.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-right: .8rem solid var(--latte-brown);
    border-radius: 1rem;
    padding: 1.1rem;
    background-color: rgba(67, 40, 24, 0.5);
    backface-visibility: hidden;
    transition: opacity .4s;
}
.card-back {
    transform: rotateX(-180deg);
}
.returned .card-front {
    opacity: 0;
}
.sub-content-card svg {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
}
.card-front svg,
.card-back svg {
    bottom: 1rem;
    right: 1.5rem;
    fill: var(--latte-brown);
}
.card-front:hover svg,
.card-back:hover svg {
    animation: arrow-shaking .2s infinite alternate;
}

/* ======================================= OPTIONAL INFORMATIONS ON THE PRODUCT ================================= */

/* ===================================== MORE INFORMATIONS ON THE PRODUCT ================================== */

.details-container {
    grid-area: 2 / 1 / 3 / 3 ;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 14rem 1fr 1fr calc(1fr + 8rem);
    gap: 4rem 2.5rem;
    margin: 5rem 0 0 0;
    background:#432818b3;
    backdrop-filter: blur(3px);
    padding: 1rem 25rem;
    box-shadow: 0 0 3rem 1.5rem var(--really-black-brown);
}
.details-container h3 {
    font-size: 5rem;
    margin: 6rem 0 0rem 0;
    position: relative;
    width: max-content;
    grid-area: 1/1/2/3;
    transform: translateX(-4rem);
}
.details-container h3::after, .details-container h3::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
    transform: translateX(-2%);
    bottom: 0rem;
    height: .4rem;
    background-image: linear-gradient(to right, var(--accent-color), var(--spicy-purple));
    background-size: 200%;
}
.double-card-description,
.single-card-description{
    height: 100%;
    position: relative;
    box-shadow: 0 0 1.7rem .3rem var(--really-black-brown);
    background-color:rgba(255, 230, 167, 0.95);
    color: var(--latte-brown);
    font-size: 3.6rem;
    display: flex;
    align-items: center;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
}
.double-card-description {
    grid-area: 2/1/3/3;
    padding: 2.5rem 5rem;
    height: max-content;
    justify-content: space-between;
    gap: .8rem;
}

.single-card-description{
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 3.5rem 3rem;
}
.single-card-description.second>h4 {
    display: none;
}
.country {
    width: 55%;
    height: 30rem;
}
.content {
    width: 45%;
    line-height: 3.4rem;
}
.content h4 {
    margin-bottom: 1.5rem;
}
.content p,
.single-card-description p {
    text-align: justify;
    font-size: 2.5rem;
    color: #99582ae5;
    font-family: 'Roboto', sans-serif;
}
.bean-colour-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    padding-bottom: .5rem;
    border-bottom: .2rem solid #4328185b;
}
.bean-colour-top * {
    font-weight: 500;
    font-size: 2.8rem;
    font-family: 'Roboto', sans-serif;
}
.bean-colour-top h5 #accent {
    letter-spacing: .1rem;
}
.bean-colour-top h4 {
    font-family: 'Roboto Slab', serif;
}
.bean {
    position: absolute;
    transform-origin: center;
    width: 8rem;
    height: 8rem;
    z-index: 1;
}
.bean:first-child {
    top: 0;
    left: 0;
    transform: translate(-40%, -40%) rotate(45deg);
}
.bean:last-child {
    bottom: 0;
    right: 0;
    transform: translate(30%, 30%) rotate(45deg);
}
.single-card-description p {
    padding: 0 1.5rem;
    line-height: 3.4rem;
}

.single-card-description ul li {
    position: relative;
    font-size: 1.8rem;
    list-style-type: none;
    height: 3.8rem;
    padding-top: 1.2rem;
    font-weight: 400;
}
.single-card-description ul li::before {
    position: absolute;
    content: '';
    display: block;
    width: 1rem;
    left: -1.5rem;
    transform: translateY(-5%);
    height: 1rem;
    top: 50%;   
    border-radius: .5rem;
}
.light {color: #b59d27;}
.light::before {background-color: #b59d27;}
.blonde {color: #b08c43;}
.blonde::before {background-color: #b08c43;}
.medium {color: #9c713f ;}
.medium::before {background-color: #9c713f;}
.brown {color: #5c3823;}
.brown::before {background-color: #5c3823;}
.dark-brown {color: var(--really-black-brown);}
.dark-brown::before {background-color: var(--really-black-brown);}
.actual {font-weight: 800 !important; text-transform: uppercase;}

.double-card-description:last-child {
    grid-area: 4/1/5/3;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 8rem;
    padding: 2.5rem 8rem;
    gap: 1.5rem;
}
.double-card-description:last-child h4 {
    grid-area: 1/1/2/4;
    text-align: center;
}
.pack-item h5 {
    text-align: center;
    margin-left: 4rem;
    font-weight: 400;
    font-family: 'Roboto';
}
.pack-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 0;
    width: min-content;
}
.packs {
    width: auto;
    height: 25rem;
}
@keyframes nope {
    0% {translate: -1rem 0;}
    50% {translate: 1.5rem 0;}
    100% {translate: 0;}
}
@keyframes wiggling-top {
    0% {
        transform: translate(-40%, -40%) rotate(45deg);    }
    33% {
        transform: translate(-40%, -40%) rotate(35deg);
    }
    66% {
        transform: translate(-40%, -40%) rotate(55deg);
    }
    100% {
        transform: translate(-40%, -40%) rotate(45deg);
    }
}
@keyframes wiggling-bottom {
    0% {
        transform: translate(30%, 30%) rotate(45deg);
    }
    33% {
        transform: translate(30%, 30%) rotate(35deg);
    }
    66% {
        transform: translate(30%, 30%) rotate(55deg);
    }
    100% {
        transform: translate(30%, 30%) rotate(45deg);
    }
}
.bean:first-child.wiggling {
    animation: wiggling-top .4s ease-in-out;
}
.bean:last-child.wiggling {
    animation: wiggling-bottom .4s ease-in-out;
}


/* ===================================== MORE INFORMATIONS ON THE PRODUCT ================================== */
/* ================================================= other products suggestion ============================================ */

#other-products {
    grid-area: 3 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 3rem 0;
}
.cards-title-container {
    position: relative;
}
#other-products h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    width: 105rem;
}
.card.switching-to-right {
    animation: switch-to-right .3s forwards;
}
@keyframes switch-to-right {
    to {
        transform: translateX(27rem);
    }
}
.card.switching-to-left {
    animation: switch-to-left .3s forwards;
    
}
@keyframes switch-to-left {
    to {
        transform: translateX(-27rem);
    }
}
.right {
    right: -8%;
}
.left {
    left: -8%;
}
.left, .right {
    position: absolute;
    top: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: .4rem solid var(--cream-brown);
    background: transparent;
    transform: translateY(-50%);
    z-index: 999;
}
.left svg,
.right svg {
    height: 3rem;
    width: 3rem;
    fill: var(--cream-brown);
}
.right:hover, 
.right:focus-visible, 
.left:hover,
.left:focus-visible {
    backdrop-filter: brightness(85%);
}
.cards {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    padding: 2.25rem 0 4rem 0;
    gap: 2.5rem;
    border-top: 3px solid var(--really-black-brown);
    border-bottom: 3px solid var(--really-black-brown);
    overflow: hidden;
    width: 115rem;
}
.card:last-child,
.card:first-child {
    display: none;
}
.card {
    animation-play-state: paused;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 1;
    width: 24.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: rgba(255, 230, 167, 0.7);
    border-radius: 1.5rem;
    padding: 2.75rem 0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    box-shadow: 0 0 1rem .5rem var(--really-black-brown);
    transition: all .2s;
}

.card > img {
    height: 29rem;
    border-radius: 1.5rem;
    transition: all .3s;
    font-size: 2rem;
    color: var(--cream-brown);
    background-color: var(--latte-brown);
}

.card > h3 {
    font-size: 2.4rem;
    font-weight: 800;
    height: auto;
    color: var(--black-brown);
    position: relative;
    transform: translateY(1.25rem);
    transition: all .3s;
    transition-delay: .3s;
}
.card > h3::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    clip-path: polygon(0 0, 98% 0, 100% 100%, 2% 100%);
    width: 100%;
    transform: scaleX(0);
    background-color: var(--latte-brown);
    height: 2px;
    transition: all .3s;
}
.card > h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--black-brown);
    transform: translateY(-1rem);
    filter: opacity(0);
    transition: transform .3s 200ms, filter .2s 0ms;
}
.card p {
    position: absolute;
    bottom: -2rem;
    height: 3.8rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Roboto';
    font-weight: 500;
    width: 16rem;
    border-radius: 1.8rem;
    text-align: center;
    font-size: 1.9rem;
    letter-spacing: 1px;
    color: var(--cream-brown);
    padding: 0.8rem;
    background-image: linear-gradient(to right, var(--accent-color), var(--spicy-purple));
    background-size: 300%;
    transition: all .3s;
}

/* ========= ANIMATION PART ========= */

.card:not(:last-child):hover img,
.card:not(:last-child):focus-visible img {
    transform: translateY(-2.5rem) scale(113%);
}
.card:not(:last-child):hover h3::after,
.card:not(:last-child):focus-visible h3::after {
    transform: scaleX(1);
}
.card:not(:last-child):hover h3,
.card:not(:last-child):focus-visible h3 {
    transform: translateY(0);
}
.card:not(:last-child):hover h4,
.card:not(:last-child):focus-visible h4 {
    transform: translateY(.2rem);
    filter: opacity(1);
    transition: transform .2s 0ms, filter .2s 300ms;
}
.card:not(:last-child) p:hover {
    background-position: right;
}
.card:last-child:focus-visible {
    outline: none !important;
}


/* ======================================== BAS DE PAGE ============================================= */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    font-size: 1.9rem;
    width: 100%;
    height: min-content;
    padding: 4rem;
    background-color: var(--really-black-brown);
    z-index: 1;
}
footer ul {
    width: max-content;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 4rem;
}
footer ul li:nth-child(even) {
    margin-left: 3rem;
    color: var(--cream-brown);
    text-decoration: none;
    position: relative;
}
footer ul li:nth-child(even)::before {
    display: block;
    content: '-';
    position: absolute;
    left: -1.5rem;
}
footer ul li:nth-child(odd) {
    font-size: 2.4rem;
    letter-spacing: .05rem;
    font-family: 'Roboto';
    font-weight: 500;
}
.advises>ol {
    display: flex;
    flex-direction: column;
    gap: 1.05rem;
    margin-left: 5rem;
    width: max-content;
}
.advises>ol>li {
    width: max-content;
}
.advises {
    flex-basis: 0;
    flex-shrink: 1;
}
footer>div>h2 {
    font-family: 'Roboto';
    letter-spacing: .2rem;
}
#contact>h2 {
    margin-bottom: 1.6rem;
}
.advises>h2 {
    margin-bottom: 2rem;
}

/* ========================================== PARTIE RESPONSIVE ============================================== */

@media screen and (max-width: 1700px) {
    html {
        font-size: 62.5%;
    }
}
@media screen and (max-width: 1600px) {
    html {
        font-size: 59%;
    }

}
@media screen and (max-width: 1500px) {
    html {
        font-size: 56%;
    }
    :root {
        --scale: 55;
    }
}
@media screen and (max-width: 1370px) {
    html {
        font-size: 53%;
    }
    .top-navbar {
        padding: 0 12rem;
        height: 7.5rem;
    }
    :root {
        --scale: 55;
    }
}
@media screen and (max-width: 1325px) {
    .single-card-description>ul>li:nth-child(even):not(.actual) {
        display: none;
    }
    .single-card-description>ul {
        padding: 0 1rem;
    }
}
@media screen and (max-width: 1220px) {
    html {
        font-size: 50%;
    }
    .details-container {
        padding: 2rem 20rem;

    }
    :root {
        --scale: 55;
    }
}
@media screen and (max-width: 1165px) {
    .details-container {
        display: flex;
        flex-direction: column;
        padding: 2rem 14rem;
    }
    .double-card-description h4 {font-size: 4.5rem; margin-bottom: 2rem;}
    .double-card-description p,
    .single-card-description p {
        font-size: 2.8rem;
        line-height: 130%;
        margin-top: .7rem;
    }
    .double-card-description p,
    .single-card-description p {
        line-height: 150%;
    }
    .single-card-description {
        padding: 5rem 3rem;
        height: max-content;
    }
    .single-card-description.second {
        padding: 3rem;
        gap: 1rem;
    }
    .bean-colour-top>li {
        padding: 0 !important;
    }
    .single-card-description ul li::before {
        top: 38%;
    }

    .bean-colour-top h4,
    .bean-colour-top h5>#accent,
    .single-card-description.second .bean-colour-top>li {
        font-size: 3.3rem;
        margin: .7rem 1.5rem;
        height: max-content;
    }
    .single-card-description.second h4 {
        display: block;
    }
}
@media screen and (max-width: 1100px) {
    html {
        font-size: 50%;
    }

    :root {
        --scale: 55;
    }
    .top-navbar {
        padding: 1.2rem 10rem;
        height: min-content;
        box-shadow: none;
    }
    .coffee-pot-container {
        display: none;
    }
    .coffee-smoke, .coffee-cup-image {
        display: none;
    }
    .coffee-cup {
        background-image: linear-gradient(125deg, var(--latte-brown), var(--black-brown));
        background-size: 200%;
        height: 100vh;
        top: 0;
        z-index: 1;
        box-shadow: 0 0 2rem var(--black-brown);
        width: 35rem;
        left: -35rem;
    }
    .coffee-cup.out {
        transform: translate(100%, 0%);
    }
    .hamburger {
        display: block;
    }
    .user-buttons>*:last-child {
        display: none;
    }
    .side-navbar-links {
        width: max-content;
    }
    .side-navbar-links li:first-child {
        display: block;
    }
    .side-navbar-links li a {
        color: var(--cream-brown);
        font-size: 3.5rem;
    }
    .side-navbar-links li a::after {
        content: '';
        display: block;
        position: absolute;
        right: -1.5rem;
        top: .2rem;
        width: .3rem;
        border-radius: 1rem;
        background-color: var(--black-brown);
        height: 90%;
        transform: scale(1);
    }
    body.dark main::after {
        display: block;
    }
    :root {
        --scale: 55;
    }
}
@media screen and (max-width: 1018px) {
    html {font-size: 44%;}
    .drop-down-language-picker {
        bottom: -23.5rem;
    }
}
@media screen and (max-width: 934px) {
    html {
        font-size: 45%;
    }
    :root {
        --scale: 55;
    }
    .product-container {
        flex-direction: column;
        width: 100vw;
        justify-self: center;
        gap: 3rem;
    }
    .photo-container {
        margin-left: 0;
        height: 57rem;
        width: auto;
    }
    .photo-container::after {
        height: 57rem;
        width: 38rem;
    }
    .product-photo {
        width: 38rem;
        height: 100%;
    }
    .product-photo::after {
        width: 100%;
    }
    .product-content {
        padding: 0 4rem;
        gap: 3.5rem;
    }
    .title {
        display: none;
    }
    .title.first {
        display: block;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 7rem;
        width: max-content;
    }
    h1::after {
        width: 100%;
    }
    h2 {
        font-size: 4rem !important;
    }
    .product-content p {
        font-size: 2rem;
    }
    .bottom-part-container {
        flex-direction: column;
        gap: 3.5rem;
    }
    .product-content h3, .product-content h4 {
        font-size: 4rem;
        width: max-content;
    }
    .description, .buying-part {
        gap: 2.5rem;
    }
    .price {
        font-size: 5rem !important;
        transform: translateY(0);
    }
    main {
        padding: 10vh 0 8rem;
    }
    .product-description, .sub-content-card {
        height: max-content;
        cursor: default;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .front, .back, .card-front, .card-back {
        display: block;
        position: relative;
        height: max-content;
        width: auto;
        transform: none;
    }
    .product-description-inner {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    #three-dots {
        display: none;
    }
    .front>svg, .back>svg, .card-front>svg, .card-back>svg {
        display: none;
    }
    .front>p, .back>p, .card-front>p, .card-back>p {
        font-size: 2.5rem;
        cursor: default;
    }
    .buying-part {
        width: auto;
        height: max-content;
        flex-shrink: 0;
        padding: 0 7rem;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }
    .sub-content h4 {
        margin-bottom: 2.5rem;
    }
    .packaging-size {
        height: max-content;
    }
    #size-button {
        width: 20rem;
        height: 8.5rem;
        font-size: 3rem;
    }
    .quantity-container {
        height: max-content;
    }
    .quantity {
        gap: 0px;
        justify-content: center;
        height: 100%;
    }
    .quantifier {
        height: 8rem;
        width: 10rem;
        font-size: 4rem !important;
        font-weight: 700 !important;
        display: block;
    }
    .quantifier:not(.result):hover {
        filter: none;
        color: var(--accent-color);
    }
    .quantifier:not(.result):active {
        filter: brightness(80%);
        transition: 0s all;
    }
    .result {
        text-align: center;
        padding: 1.7rem;
    }
    .buy-button {
        height: 8.5rem;
        border: .5rem solid var(--accent-color);
        width: 85%;
        min-width: max-content;
        border-radius: 4.25rem;
        font-size: 2.5rem;
        letter-spacing: .3rem;
        font-weight: 700;
        box-shadow: none;
    }
    .buy-button svg {
        height: 75%;
        width: 6rem;
    }
    .buy-button:hover {
        transform: none;
    }
    .buy-button:active {
        background-color: transparent;
        color: var(--accent-color);
        transition: .02s all;
    }
    .buy-button:active svg {
        fill: var(--accent-color) !important;
    }
    .sub-content {
        width: 100%;
    }
}
@media screen and (max-width: 900px) {
    #other-products h2 {
        width: max-content;
        font-size: 6rem !important;
        margin-bottom: 2rem;
    }
    .cards {
        width: 80%;
        flex-wrap: wrap;
        padding: 7rem 0;
        flex-direction: row;
        gap: 8rem 5rem;
    }
    .left, .right {
        display: none;
    }
    .card {
        width: calc(24.6rem * 1.4);
        height: calc(40rem * 1.4);
        border-radius: calc(1.5rem  * 1.4);
        padding: calc(2.75rem * 1.4) 0;
        box-shadow: 0 0 1rem .5rem var(--really-black-brown);
    }    
    .card > img {
        height: calc(29rem * 1.4);
        border-radius: calc(1.5rem  * 1.4);
        transform: translateY(calc(-2.5rem * 1.4)) scale(113%);
    }
    .card > h3 {
        font-size: calc(2.4rem * 1.4);
        transform: translateY(0);
    }
    .card > h3::after {
        height: 2px;
        transform: scaleX(1);
    }
    .card > h4 {
        font-size: calc(1.7rem * 1.4);
        transform: translateY(.2rem);
        filter: opacity(1);
    }
    .card p {
        bottom: calc(-2rem * 1.4);
        height: calc(3.8rem * 1.4);
        width: calc(16rem * 1.4);
        border-radius: calc(1.8rem * 1.4);
        font-size: calc(1.9rem * 1.4);
        letter-spacing: 1.5px;
        padding: calc(0.8rem * 1.4);
        background-position: right;
    }
    .card:hover img, .card:focus img{
        transform: translateY(calc(-2.5rem * 1.4)) scale(113%) !important;
    }
}
@media screen and (max-width: 840px) {
    .top-navbar {
        padding: 0 5rem;
        height: 8vh;
        min-height: calc(35px + 2rem);
    }
    .double-card-description:not(.second) {
        flex-direction: column;
        padding: 0;
    }
    .content {
        width: 100%;
        padding: 3rem;
    }
    .double-card-description:not(.second)>svg {
        backdrop-filter: brightness(96%);
        width: 100%;
        height: 30rem;
        padding: 2rem;
    }
}
@media screen and (max-width: 790px) {
    .details-container {
        padding: 1rem 14rem;
    }
    .single-card-description>ul>li {
        font-size: 3rem !important;
    }
    .packs {
        width: 22rem;
    }
}
@media (pointer: coarse) {
    .product-photo.zoomed, .product-photo:hover {
        background-size: 100%;
    }
}
@media screen and (max-width: 736px) {
    html {
        font-size: 40%;
    }
    .single-card-description>ul>li:not(.actual) {
        display: none;
    }
    .single-card-description ul li::before {
        display: none;
    }
    .actual {
        margin: 0 .25rem .8rem !important;
    }
    .single-card-description.second .bean-colour-top {
        width: max-content;
    }
    .double-card-description.second {
        display: flex;
        flex-direction: column;
        height: max-content;
        padding: 4rem 0;
        gap: 3rem;
    }
    .double-card-description.second h4 {
        font-size: 5rem;
    }
    .double-card-description.second h5 {
        font-size: 4.5rem;
        margin: 0 0 1rem;
    }
    .pack-item {
        width: 100%;
    }
    .packs {
        height: 40rem;
        width: 100%;
        transform: translateX(-2.5rem);
    }
    .details-container  {
        padding: 1rem 8rem;
    }
    footer {
        gap: 2rem;
    }
    #cart-number {
        font-size: 2rem;
        height: 3.1rem;
        border-radius: 99px;
        text-align: center;
        padding-top: .4rem;
    }
}
@media screen and (max-width: 550px) {
    html {
        font-size: 39%;
    }
    .front, .back, .card-back, .card-front, .sub-content {
        width: 100%;
    }
    .cards {
        width: 90%;
    }
    footer {
        flex-direction: column;
        gap: 4rem;
        padding: 6rem;
        width: 100%;
    }
    .advises li {
        font-size: 3rem;
        width: 100% !important;
    }
    #contact li:nth-child(even) {
        font-size: 3rem;
        width: calc(100% - 3rem);

    }
    .advises, #contact {
        width: 100%
    }
    #contact>ul {
        width: calc(100% - 4rem);
    }
    #contact li:nth-child(odd) {
        font-size: 3.3rem;
    }
    .advises>ol {
        margin-left: 8rem;
        width: calc(100% - 8rem);
    }
}
@media screen and (max-width: 454px) {
    html {
        font-size: 1.5vw;
    }
    .line {
        height: 2px;
    }
    .single-card-description:not(.second) .bean-colour-top {
        flex-direction: column;
        width: max-content;
        padding-bottom: 1.5rem;
    }
    .single-card-description:not(.second) .bean-colour-top h4{
        font-size: 4rem;
    }
    .details-container h3 {
        width: auto;
        text-align: center;
        transform: none;
    }
    .details-container h3::after, 
    .details-container h3::before {
        width: 50%;
        left: 50%;
        transform: translateX(-50%);
    }
    .details-container h3::before {
        bottom: 50%;
        width: 65%;
    }
}

/* 414px résolution cheloue jules  */

@media screen and (max-width: 380px) {
    .details-container {
        padding: 1rem 6rem;
    }
    .coffee-cup {
        width: 100%;
        transition: 0s;
        left: -100%;
    }
    .side-navbar-links {
        right: 50%;
        transform: translateX(50%);
    }
    .side-navbar-links li {
        text-align: center;
        margin-bottom: 5rem;
    }
    .side-navbar-links li a {
        font-size:  6rem;
    }
    .side-navbar-links li a::after {
        height: 2px;
        width: 100%;
        top: 105%;
        right: 0;
    }
    .logo-robusto svg {
        height: 5.5rem;
        width: auto;
    }
    .user-buttons li svg {
        width: 6.5rem;
        height: auto;
    }
    .user-buttons>li>button {
        font-size: 0 !important;
        width: max-content;
    }
    .user-buttons>li>button>img {
        width: 6rem;
    }
    #cart-number {
        font-size: 2rem;
        height: 3.5rem;
        padding-top: .7rem;
    }
}
@media screen and (max-width: 250px) {
    html {
        font-size: 1.8vw;
    }
    h1 {
        font-size: 6rem;
    }
    .line {
        height: 1px;
    }
    .logo-robusto svg {
        width: 20rem;
    }
    .hamburger {
        height: 5.5rem;
    }
    .hamburger div {
        width: 4rem;
    }
    .details-container>h3,
    .description h3 {
        width: auto;
    }
    .details-container>h3::after {
        width: 50%;
        bottom: -.5rem;
    }
}

/* ========================================= OPTIONAL INLINE DESIGN =========================================== */

b {
    font-weight: 600;
}
#latte {
    color: var(--latte-brown);
}
#accent {
    color: var(--accent-color);
}

